<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Air datepicker Css -->
        <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.3.5/air-datepicker.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.3.5/air-datepicker.min.js"></script>
    </head>
    <body>
        <!-- Air datepicker Html element -->
        <input id="myDatepicker">
        <br>
        <br>
        <button onclick="printCurrentTime()">在Console印出目前時間</button>
        <!-- Air datepicker JavaScript-->
        
        <script>
            const en = {
                days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                today: 'Today',
                clear: 'Clear',
                dateFormat: 'MM/dd/yyyy',
                timeFormat: 'hh:mm aa',
                firstDay: 0
            }

            const datepicker = new AirDatepicker('#myDatepicker',{
                locale: en, // Set language
                view: 'months',
                minView: 'months',
                dateFormat: 'MMMM yyyy',
                autoClose: true,
            })
        </script>
    </body>
</html>