<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>NNCS 補習班學生資訊系統</title>
  <link rel="icon" href="assets/img/NNCS_Matting.png" type="image/png type">
  
  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/all.min.css">


  <!-- CSS Libraries -->
  <link rel="stylesheet" href="assets/modules/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="assets/modules/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/modules/fullcalendar/fullcalendar.min.css">
  <link rel="stylesheet" href="assets/modules/ionicons/css/ionicons.min.css">

  <!-- air-datepicker -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.3.5/air-datepicker.min.css">
  <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.3.5/air-datepicker.min.js"></script> -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">

  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <!-- 加载 Google API 客户端库 -->
  <script src="https://apis.google.com/js/api.js"></script>

  <!-- Start GA -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-94034622-3');
  </script>
  <!-- /END GA -->
  <style>
    .fc-toolbar h2 {
      line-height: 2;
    }

    tr:first-child>td>.fc-day-grid-event {
      margin-bottom: 0;
    }
  </style>

</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg" style="height: 70px;"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle  nav-link-lg nav-link-user">

              <!-- <img alt="image" src="{{picture}}" class="rounded-circle mr-1"> -->
              <img alt="image" src="{{picture}}" class="rounded-circle mr-1">

              <div class="d-sm-none d-lg-inline-block">{{name}}</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-title" style="text-transform: none; margin: 0px 8px; font-size: 13px;">Hi, {{name}}!
              </div>
              <div class="dropdown-divider" style="border-top-color: #98a6ad;"></div>
              <a href="{{ url_for('logout') }}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index">NNCS-補習班學生資訊系統</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index"><img src="assets/img/NNCS_Matting.png" height="40px" width="40px"></a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">學生資訊</li>
            <li><a href="{{ url_for('profiles') }}" class="nav-link"><i
                  class="fas fa-id-badge"></i><span>個人檔案</span></a></li>
            <li class=active><a href="{{ url_for('index') }}" class="nav-link"><i
                  class="fas fa-calendar-alt"></i><span>我的課表</span></a></li>
            <li><a href="{{ url_for('certificate') }}" class="nav-link"><i
              class="fas fa-trophy"></i><span>我的證照</span></a></li>
            <li><a href="{{ url_for('st_note') }}" class="nav-link"><i
              class="fas fa-book"></i><span>學習筆記</span></a></li>
          </ul>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <br>
          <div class="row">
            <div class="col-lg-8">
              <div class="card">
                <div class="card-header">
                  <h4>我的課表</h4>
                  <!-- <div class="card-header-action dropdown">
                    <button type="button" class="btn btn-primary" id="scheduleButton"
                      style="border-radius: .25rem !important;">我要排課</button>
                    <button type="button" class="btn btn-danger" id="leaveButton"
                      style="border-radius: .25rem !important;">我要請假</button>
                  </div> -->

                </div>
                <div class="card-body">
                  <div class="fc-overflow">
                    <!-- 日曆 fullCalendar -->
                    <div id="myEvent"></div>
                    <br>
                    <span>上課期間為 {{start_class_date}} - {{end_class_date}}</span>
                    <button type="button" id="fc_scheduleButton" style="display: none;"></button>  <!--dayclick-->
                    <button type="button" id="fc_leaveButton" style="display: none;"></button>  <!--evenclick-->
                    <button type="button" id="fc_notLeaveButton" style="display: none;"></button>  <!--取消請假-->
                    <button type="button" id="fc_scheduleError_1" style="display: none;"></button>  <!--fc_scheduleError 不可以選之期的日期進行排課-->
                    <button type="button" id="fc_scheduleError_2" style="display: none;"></button>  <!--fc_scheduleError 不可以選之期的日期進行排課-->
                    <button type="button" id="FilterModalButton" style="display: none;"></button>  <!--篩選日期按鈕-->
                    <script>
                      var event_data = {{event_data| tojson | safe}};
                      var class_num = {{class_num| tojson | safe}};
                      var sc_class_num = {{sc_class_num| tojson | safe}}
                      var end_class_date = {{end_class_date| tojson | safe}};
                      
                    </script>
                    <div id="eventData" data-events='[]'></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 查看各教室上課時段 -->
            <div class="col-lg-4">
              <div class="card" style="height: calc(100% - 30px);">
                <div class="card-header">
                  <script>
                    var classroom = {{ classroom| tojson | safe}};
                    var class_week = {{ class_week| tojson | safe }};
                    var start_time = {{ start_time| tojson | safe }};
                    var end_time = {{ end_time| tojson | safe }};
                    var classroom_area = {{ classroom_area| tojson | safe }};
                    var classroom_data = {{ classroom_data| tojson | safe }};
                    var course_id = {{ course_id| tojson | safe }};
                    var classroom_attend_data = {{ classroom_attend_data| tojson | safe }};
                     
                  </script>
                  <h4>上課時段</h4>
                  <div class="card-header-action dropdown">
                    <a data-toggle="dropdown" class="btn btn-danger dropdown-toggle" id="dropdownMenuButton"
                      style="color: white;">全部</a>

                    <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-title">選擇教室</li>
                      <li><a class="dropdown-item active" onclick="updateDropdown(this, '全部')">全部</a></li>

                      {% for i in classroom_area %}
                      <li><a class="dropdown-item" onclick="updateDropdown(this, '{{ i }}')">{{i}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="card-body" id="top-5-scroll">
                  <ul id="classroom-list" class="list-unstyled list-unstyled-border">
                    <!-- 用js顯示 li -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </section>
      </div>

      <footer class="main-footer">
        <div class="footer-left">
          組別: 113XXX 指導老師 : 林俊杰老師 &nbsp 專題組員: 11236001 林奕辰
        </div>
        <div class="footer-right"></div>
      </footer>
    </div>
  </div>

  <script>
    var client_id = "346287506808-oe0cu9l0ovsie49b274hhkrmmsr4ih0v.apps.googleusercontent.com",
      Key = "AIzaSyB63lPx97CBNrxTAli8oz1A3n3_olyirq8",
      scope = "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/user.gender.read https://www.googleapis.com/auth/user.birthday.read",
      personFields = "names,emailAddresses,photos,genders,birthdays",
      discovery_doc = "https://www.googleapis.com/discovery/v1/apis/people/v1/rest",
      resourceName = "people/me",
      $personal_info = $("#personal_info"),
      redirect_uri = "https://79ea-219-70-149-68.ngrok-free.app",
      tokenClient;

    loadApi();

    // 載入 Google API
    function loadApi() {
      // 載入 gapi
      $.getScript("https://apis.google.com/js/api.js", function () {
        gapi.load("client", function () {
          gapi.client.init({
            apiKey: Key,
            discoveryDocs: [discovery_doc],
          });
        });
      });

      // 載入 gsi
      $.getScript("https://accounts.google.com/gsi/client", function () {
        tokenClient = google.accounts.oauth2.initTokenClient({
          client_id: client_id,
          scope: scope,
          callback: signIn_callback,
          error_callback: error_callback,
          redirect_uri: redirect_uri
        });
      });
    }

    // 登入成功後 callback
    function signIn_callback(res) {
      if (res && res.access_token) {
        var login_status = "True";
        var login_method = "google";
        var access_token = res.access_token;
        $.ajax({
          type: "POST",
          url: "/login",
          data: { login_status: login_status, login_method: login_method, access_token: access_token },
          success: function (response) {
            window.location.href = "/index";
          },
          error: function (error) {
            console.error("Error loading:", error);
          }
        });
      }
    }

    // 捕捉非 OAuth 錯誤 或是在傳回 OAuth 回應前遭到關閉
    function error_callback(res) {
      console.log(res);
      $personal_info.html(res.message);
    }

    // 點擊登入按鈕
    $("#google_login").click(function () {
      // 進動畫
      $personal_info.html("<img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgATuJvkpy3TyBQtXW_JJ59fpiTcu6m9jkBoXtHXpCwpiiOqDdLSLIP2VkH56AQHEg_JubYb6aueZcHrVC-1muR1XwNF3Fxkt_fbNxdMtl6TiakzPHvqPlXefdZMOu2u9IzU6-a-X8So4ok/s512/indicator-light.gif' /> <span>請稍後...</span>");

      if (gapi.client.getToken() === null) {
        // 未登入則彈出登入視窗
        tokenClient.requestAccessToken();
      } else {
        // 已登入則不彈出視窗
        tokenClient.requestAccessToken({
          prompt: ""
        });
      }
    });

    // $("#google_logout").click(function () {
    //   $.ajax({
    //     type: "GET",
    //     url: "/logout",
    //     success: function () {
    //       // 清除浏览器的缓存
    //       window.location.replace("/login");
    //       window.location.reload(true);
    //     },
    //     error: function (error) {
    //       console.error("Logout error:", error);
    //     }
    //   });
    // });
  </script>


  <!-- General JS Scripts -->
  <script src="assets/modules/jquery.min.js"></script>
  <script src="assets/modules/popper.js"></script>
  <script src="assets/modules/tooltip.js"></script>
  <script src="assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="assets/modules/moment.min.js"></script>
  <script src="assets/js/stisla.js"></script>

  <!-- JS Libraies -->
  <!-- <script src="assets/modules/prism/prism.js"></script> -->
  <script src="assets/modules/jquery.sparkline.min.js"></script>
  <script src="assets/modules/chart.min.js"></script>
  <script src="assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
  <script src="assets/modules/summernote/summernote-bs4.js"></script>
  <script src="assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
  <script src="assets/modules/fullcalendar/fullcalendar.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="assets/js/page/index.js"></script>
  <script src="assets/js/page/bootstrap-modal.js"></script>
  <script src="assets/js/page/modules-calendar.js"></script>



  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>