<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">


  <title>Google Logout</title>
  <!-- 加载 jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- 加载 Google API 客户端库 -->
  <script src="https://apis.google.com/js/api.js"></script>

  <script type="text/javascript">
    window.onload = function () {
      if (typeof window.history.pushState === 'function') {
        window.history.pushState({}, "Hide", window.location.href);
        window.onpopstate = function () {
          window.history.pushState({}, "Hide", window.location.href);
          window.location.href = "/login"; // 重定向到登录页
        };
      }
    }
  </script>

</head>

<body>
  <div>
    {{session}}<br>
    {{access_token}}<br>
  </div>

  <button id="google_logout" class="dropdown-item has-icon text-danger">
    <i class="fas fa-sign-out-alt"></i> Logout
  </button>
  <div id="personal_info">Welcome, User!</div>

  <!-- <script>
    var client_id = "346287506808-oe0cu9l0ovsie49b274hhkrmmsr4ih0v.apps.googleusercontent.com"
    console.log("111");
    var tokenClient = "{{access_token}}";
    console.log(tokenClient);
    console.log("ioio");

    function initClient() {
      gapi.load('client:auth2', function() {
        gapi.auth2.init({
          client_id: client_id,
          scope: 'profile email'
        }).then(function() {
          console.log("Google API client loaded");
        }, function(error) {
          console.log("Error loading Google API client: ", error);
        });
      });
    }

    function handleLogout() {
      var token = gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token;
      console.log("Token: ", token);
      if (token) {
        google.accounts.oauth2.revoke(token, function() {
          gapi.auth2.getAuthInstance().signOut().then(function() {
            console.log("Logged out from Google");
            // 登出后的动作
            $("#personal_info").html("已登出");
            // 可选：重定向到服务器上的登出端点
            window.location.href = "/login";
          });
        });
      } else {
        console.log("No token found");
      }
    }

    $("#google_logout").click(function(event) {
      event.preventDefault();
      handleLogout();
    });

    initClient();
  </script> -->

  <script>
    var client_id = "346287506808-oe0cu9l0ovsie49b274hhkrmmsr4ih0v.apps.googleusercontent.com",
      Key = "AIzaSyB63lPx97CBNrxTAli8oz1A3n3_olyirq8",
      scope = "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/user.gender.read https://www.googleapis.com/auth/user.birthday.read",
      personFields = "names,emailAddresses,photos,genders,birthdays",
      discovery_doc = "https://www.googleapis.com/discovery/v1/apis/people/v1/rest",
      resourceName = "people/me",
      $personal_info = $("#personal_info"),
      redirect_uri = " https://68d2-1-164-160-29.ngrok-free.app",
      tokenClient;

    loadApi();

    // 載入 Google API
    function loadApi() {
      // 載入 gapi
      $.getScript("https://apis.google.com/js/api.js", function () {
        gapi.load("client", function () {
          gapi.client.init({
            apiKey: Key,
            discoveryDocs: [discovery_doc],
          });
        });
      });

      // 載入 gsi
      $.getScript("https://accounts.google.com/gsi/client", function () {
        tokenClient = google.accounts.oauth2.initTokenClient({
          client_id: client_id,
          scope: scope,
          callback: signIn_callback,
          error_callback: error_callback,
          redirect_uri: redirect_uri
        });
      });
    }

    // 登入成功後 callback
    function signIn_callback(res) {
      if (res && res.access_token) {
        var login_status = "True";
        var login_method = "google";
        var access_token = res.access_token;
        $.ajax({
          type: "POST",
          url: "/login",
          data: { login_status: login_status, login_method: login_method, access_token: access_token },
          success: function (response) {
            window.location.href = "/index";
          },
          error: function (error) {
            console.error("Error loading:", error);
          }
        });
      }
    }

    // 捕捉非 OAuth 錯誤 或是在傳回 OAuth 回應前遭到關閉
    function error_callback(res) {
      console.log(res);
      $personal_info.html(res.message);
    }

    // 點擊登入按鈕
    $("#google_login").click(function () {
      // 進動畫
      $personal_info.html("<img src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgATuJvkpy3TyBQtXW_JJ59fpiTcu6m9jkBoXtHXpCwpiiOqDdLSLIP2VkH56AQHEg_JubYb6aueZcHrVC-1muR1XwNF3Fxkt_fbNxdMtl6TiakzPHvqPlXefdZMOu2u9IzU6-a-X8So4ok/s512/indicator-light.gif' /> <span>請稍後...</span>");

      if (gapi.client.getToken() === null) {
        // 未登入則彈出登入視窗
        tokenClient.requestAccessToken();
      } else {
        // 已登入則不彈出視窗
        tokenClient.requestAccessToken({
          prompt: ""
        });
      }
    });

    // 點擊登出按鈕
    // $("#google_logout").click(function () {
    //   // session = "{{session}}";

    //   // var token = gapi.client.getToken();
    //   // if (token !== null) {
    //   //   google.accounts.oauth2.revoke(token.access_token);
    //   //   gapi.client.setToken();

    //   // 登出後的動作
    //   // $personal_info.html("已登出");
      // window.location.href = "/logout";
    //   // }
    //   console.log("1", session);
    // });
    $("#google_logout").click(function () {
      $.ajax({
        type: "GET",
        url: "/logout",
        success: function () {
          // 清除浏览器的缓存
          window.location.href = "/login";
          window.location.reload(true);
        },
        error: function (error) {
          console.error("Logout error:", error);
        }
      });
    });
  </script>


</body>

</html>