<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

  <title>NNCS 補習班學生資訊系統</title>
  <link rel="icon" href="assets/img/NNCS_Matting.png" type="image/png type">

  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="assets/modules/bootstrap-social/bootstrap-social.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
</head>

<body>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand">
              <img src="assets/img/NNCS_Matting.png" alt="logo" width="100" class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
              <div class="card-header">
                <h4>Welcome🐱</h4>
              </div>

              <div class="card-body">
                <form id= "login_form" method="POST" action="{{ url_for('login') }}" class="needs-validation" novalidate="">
                  <div class="form-group">
                    <label for="acc">account</label>
                    <input id="acc" type="text" class="form-control" name="acc" tabindex="1" ng-trim="true" required autofocus>
                  </div>

                  <div class="form-group">
                    <div class="d-block">
                      <label for="pwd" class="control-label">Password</label>
                    </div>
                    <input id="pwd" type="password" class="form-control" name="pwd" tabindex="2" ng-trim="true" required>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="loginButton" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>
                <button type="button" id="loginFailure1" style="display: none;"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- General JS Scripts -->
  <script src="assets/modules/jquery.min.js"></script>
  <script src="assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/stisla.js"></script>

  <!-- Page Specific JS File -->
  <script src="assets/js/page/bootstrap-modal.js"></script>


  <!-- Login Failure Modal -->
  {% if session['login_status'] == "False" %}
    <script>
      $(document).ready(function () {
          $('#loginFailure1').click();
      });
    </script>
  {% endif %}
</body>

</html>

