
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>NNCS 補習班學生資訊系統</title>
  <link rel="icon" href="assets/img/NNCS_Matting.png" type="image/png type">

  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/modules/fontawesome/css/all.min.css">

  <!-- CSS Libraries -->
  <link rel="stylesheet" href="assets/modules/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="assets/modules/summernote/summernote-bs4.css">
  <link rel="stylesheet" href="assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
<!-- Start GA -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-94034622-3');
</script>
<!-- /END GA -->
<style>
  /* 搜尋的X */
  .clear-btn {
    position: absolute;
    right: 50px; /* 右側的距離 */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgb(170, 170, 170); /* 按鈕顏色 */
    font-size: 18px; /* 按鈕大小 */
    z-index: 2; /* 確保按鈕在輸入框上方 */
  }

  .clear-btn:hover {
      color: #000; /* 懸停顏色 */
  }
</style>

</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg" style="height: 70px;"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
            class="nav-link dropdown-toggle  nav-link-lg nav-link-user">
            <img alt="image" src="{{picture}}" class="rounded-circle mr-1">

            <div class="d-sm-none d-lg-inline-block">{{name}}</div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-title" style="text-transform: none; margin: 0px 8px; font-size: 13px;">Hi, {{name}}!
            </div>
            <div class="dropdown-divider" style="border-top-color: #98a6ad;"></div>
            <a href="{{ url_for('logout') }}" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index">NNCS-補習班學生資訊系統</a>
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index"><img src="assets/img/NNCS_Matting.png" height="40px" width="40px"></a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">資訊管理</li>
            <li><a href="{{ url_for('tr_manage') }}" class="nav-link"><i
                  class="fas fa-chalkboard-teacher"></i><span>老師資訊管理</span></a></li>
            <li><a href="{{ url_for('ad_index') }}" class="nav-link"><i
                  class="fas fa-child"></i><span>學生資訊管理</span></a></li>
            <li class=active><a href="{{ url_for('st_for_tr') }}" class="nav-link"><i
                  class="fas fa-child"></i><span>學生與授課老師管理</span></a></li>      
            <li><a href="{{ url_for('ad_index') }}" class="nav-link"><i
              class="fas fa-home"></i><span>教室資訊管理</span></a></li>
            <li><a href="{{ url_for('ad_index') }}" class="nav-link"><i
              class="fas fa-box"></i><span>封存人員管理</span></a></li>
          </ul>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <br>
          <div class="row">
            <div class="col-lg-12">
              <div class="card" style="height: calc(100% - 30px);">
                <div class="card-header">
                  <h4>學生及授課老師資訊一覽</h4>
                  <div class="card-header-form">
                    <div class="input-group">
                          <span class="clear-btn" id="clearButton" onclick="clearInput()">&times;</span>
                          <input type="search" class="form-control" placeholder="Search" id="searchInput" style=" position: relative; z-index: 1;">
                          <div class="input-group-btn">
                              <button class="btn btn-primary" onclick="searchTable()"><i class="fas fa-search"></i></button>
                          </div>
                  </div>
                  </div>
                </div>
                <script>
                  var st_data = {{ st_data| tojson | safe}};
                  var course_data = {{ course_data| tojson | safe}};
                  var tr_data = {{ tr_data| tojson | safe}};
                  
                </script>
                <div class="card-body table-responsive p-0" id="top-5-scroll_st_table" style="padding-top: inherit;">
                    <button type="button" id="edit_st_scheduleButton" style="display: none;"></button>
                    <table class="table table-striped" id="studentTable">
                      <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                        <tr>
                            <th>學號</th>
                            <th>學生姓名</th>
                            <th>上課教室</th>
                            <th>上課時段</th>
                            <th>負責老師</th>
                            <th style="width: 100px; padding-left: 31px;">操作</th>
                        </tr>
                      </thead>
                      <tbody id="studentTableBody">
                          <!-- 新的學生資料將會在這裡插入 -->
                      </tbody>
                    </table>
                </div>
                <div class="card-footer text-right">
                  <button class="btn btn-primary" id="st_scheduleButton">新增學生</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          組別: 113XXX 指導老師 : 林俊杰老師 &nbsp 專題組員: 11236001 林奕辰
        </div>
        <div class="footer-right"></div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="assets/modules/jquery.min.js"></script>
  <script src="assets/modules/popper.js"></script>
  <script src="assets/modules/tooltip.js"></script>
  <script src="assets/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="assets/modules/moment.min.js"></script>
  <script src="assets/js/stisla.js"></script>
  
  <!-- JS Libraies -->
  <!-- <script src="assets/modules/jquery.sparkline.min.js"></script> -->
  <script src="assets/modules/chart.min.js"></script>
  <script src="assets/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
  <script src="assets/modules/summernote/summernote-bs4.js"></script>
  <script src="assets/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

  <!-- Page Specific JS File -->
  <script src="assets/js/page/bootstrap-modal.js"></script>
  <script src="assets/js/page/components-table.js"></script>
  <script src="assets/js/page/st_for_tr.js"></script>
  
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>